In [ ]:
USE default

In [ ]:
-- CRUD
CREATE TABLE crud_demo (
    user_id INT,
    user_fname STRING,
    user_lname STRING,
    user_email STRING
) USING DELTA

In [ ]:
INSERT INTO crud_demo 
VALUES
    (1, 'Scott', 'Tiger', 'stiger@email.com'),
    (2, 'Donald', 'Duck', 'dduck@email.com')

In [ ]:
SELECT * FROM crud_demo

In [ ]:
INSERT INTO crud_demo 
VALUES
    (1, 'Mickey', 'Mouse', 'mmouse@email.com'),
    (2, 'Tom', 'Jerry', null)

In [ ]:
SELECT * FROM crud_demo

In [ ]:
DELETE FROM crud_demo
WHERE user_email IS NULL or user_email = 'mmouse@email.com'

In [ ]:
INSERT INTO crud_demo 
VALUES
    (3, 'Mickey', 'Mouse', 'mmouse@email.com'),
    (4, 'Tom', 'Jerry', null)

In [ ]:
SELECT * FROM crud_demo

In [ ]:
UPDATE crud_demo
SET user_email = 'tjerry@email.com'
WHERE user_email IS NULL

In [ ]:
SELECT * FROM crud_demo