In [ ]:
USE default

In [ ]:
CREATE TABLE crud_demo_stg (
    user_id INT,
    user_fname STRING,
    user_lname STRING,
    user_email STRING
) USING DELTA

In [ ]:
SELECT * FROM crud_demo

In [ ]:
SELECT * FROM crud_demo_stg

In [ ]:
INSERT INTO crud_demo_stg
VALUES
    (3, 'Durga', 'Gadiraju', 'dgadiraju@email.com'),
    (5, 'ITVersity', 'Inc', 'iinc@email.com'),
    (6, 'Analytiqs', 'Inc', 'ainc@email.com')

In [ ]:
SELECT * FROM crud_demo_stg

In [ ]:
MERGE INTO crud_demo AS cd
USING crud_demo_stg AS cdg
    ON cd.user_id = cdg.user_id
WHEN MATCHED THEN UPDATE SET *
WHEN NOT MATCHED THEN INSERT *

In [ ]:
-- Explicitly specified columns
MERGE INTO crud_demo AS cd
    USING crud_demo_stg AS cdg
        ON cd.user_id = cdg.user_id
WHEN MATCHED THEN UPDATE SET
    cd.user_fname = cdg.user_fname,
    cd.user_lname = cdg.user_lname,
    cd.user_email = cdg.user_email
WHEN NOT MATCHED THEN INSERT
  (cd.user_id, cd.user_fname, cd.user_lname, cd.user_email)
VALUES
  (cdg.user_id, cdg.user_fname, cdg.user_lname, cdg.user_email)